.navbar {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  position: sticky;  // This makes the navbar stay in place
  height: 8vh;
  top: 0;           // Aligns the navbar to the top of the viewport
  left: 0;          // Aligns the navbar to the left of the viewport
  width: 100%;      // Ensures the navbar extends across the full width
  z-index: 1000;    // Ensures the navbar stays above other content

  background-color: white;
}

button {
  font-family: 'Roboto', sans-serif;  // This sets the font
  font-size: 1.2rem;
  margin: 0 0.6rem 0 0.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    scale: 1.03;
    transition: 0.2s ease-in-out;
  }
}
