<nav class="navbar">
  <button [class.active]="activeSection === 'home'" class="nav-home" (click)="scrollTo('home')"><span>Home</span></button>
  <button [class.active]="activeSection === 'awards'" class="nav-awards" (click)="scrollTo('awards')"><span>Awards</span></button>
  <button [class.active]="activeSection === 'experience'" class="nav-experience" (click)="scrollTo('experience')"><span>Experience</span></button>
  <button [class.active]="activeSection === 'education'" class="nav-education" (click)="scrollTo('education')"><span>Education</span></button>
  <button [class.active]="activeSection === 'publications'" class="nav-publications" (click)="scrollTo('publications')"><span>Publications</span></button>
  <button [class.active]="activeSection === 'contact'" class="nav-contact" (click)="scrollTo('contact')"><span>Contact</span></button>
</nav>
