<section class="home-section">
  <div class="title-section">
    <div class="title-section-content">
    <h1>Dr DAGMAR HEINRICH</h1>
    <h2>Senior Research Fellow: Design Against Crime Solution Centre</h2>
    <p>Interdisciplinary Researcher with an array of skills and interests within the fields of crime science, security science, forensic science, policing and criminal justice. Applying human-centre design to real-life problems in the framework of security to develop viable and feasible solutions with stakeholders.</p>
  </div>
  </div>
  <div class="photo-section">
    <div class="photon-container">
      <img src="assets/images/DHeinrich.png" alt="Dagmar Heinrich">
    </div>
  </div>
</section>
