:host {
  display: block;
  height: 92vh;
}

.home-section {
  display: flex;

  height: 100%;
  width: 100%;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
  width: 50%;
}

.title-section-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 2rem;

  h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
  }

  p {
    font-size: 0.85rem;
    margin: 0;
  }
}

.photo-section {
  display: flex;
  align-items: flex-end;

  height: 100%;
  width: 50%;
}

.photon-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 2rem;

  img {
    width: 100%;
  }
}


.title-section-content {
  opacity: 0;
  animation: fadeIn 1.5s ease-out 1s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}


.photon-container img {
  opacity: 0;
  animation: fadeIn 1.5s ease-out 2s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
