:host {
  display: block;
  height: 92vh; // Adjust as needed
}

.publications-section {
  margin-top: 2rem; // Increase top margin
  margin-bottom: 2rem; // Increase bottom margin
  height: 100%
}

.publications-container {
  display: flex;
  justify-content: center; // Center the card container
  align-items: center;
  height: auto; // Adjust height as necessary
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // Equal space between cards
  margin-top: 2rem; // Increased top margin
  margin-bottom: 2rem; // Increased bottom margin
  justify-content: center; // Center the cards within the container
  align-items: flex-start; // Align cards to the start (top)
}
