:host {
  display: block;
  height: 92vh; // Adjust as needed
}

.publications-section {
  margin-top: 2rem; // Increase top margin
  margin-bottom: 2rem; // Increase bottom margin
  height: 100%
}

.publications-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%; // Make the container fill the parent's height

  gap: 0.25rem; // Adjust the space between cards
}
