:host {
  display: block;
  height: 92vh;
}

.awards-section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.awards-article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: 'Merriweather', serif;

  height: 100%;
  width: 65%;
}

.awards-header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem; /* Large size for the main title */
  font-weight: 200;
}

.awards-info-container {
  display: flex;
  height: 30%;
  width: 100%;
  gap: 4rem;
}

.awards-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;

  h2 {
    margin: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
  }

  .awards-info-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span, p {
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  }
}

.awards-body {
  position: relative;
  width: 60%;
  overflow: auto;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px; /* Height of the fade effect */
    background: linear-gradient(to bottom, transparent, white 40px);
    pointer-events: none; /* Allows scrolling through the gradient */
    overflow: auto;
  }
}

.awards-text {
  position: relative;
  z-index: 2;
  font-size: 0.8rem;
  line-height: 1.3rem;
}
