<section class="awards-section">
  <article class="awards-article">
    <header class="awards-header">
      <h1>SECURITY SOLUTION DEVELOPED FROM UNIVERSITY OF SALFORD RESEARCH PROJECT WINS 2023 SECURITY INNOVATION AWARD</h1>
      <h2>An innovative research project, led by researchers at the University of Salford, to help reduce and prevent crime across Europe, has received an award from the European Commission.</h2>
    </header>
    <div class="awards-info">
      <span class="awards-date">13th November 2023</span>
      <span class="awards-location">EU Commision: Security Research Event, Brussels</span>
    </div>
    <div class="awards-body">
      <p class="awards-text">
        The 'Cutting Crime Impact' (CCI) project, led by Professors Caroline Davey and Andrew Wootton and Dr Dagmar Heinrich from the University's Design Against Crime Solution Centre, worked with six law enforcement agencies across Europe to reduce high-impact crime.
        CCI worked with Lisbon Municipal Police to support the delivery of citizen-engaged policing, developing a practical tool called ‘Community Policing in Lisbon – Safer Communities.’ Last month, this work won the '2023 Security Innovation Award' from the European Commission.
        The Lisbon tool was nominated by the Commission as the "Best Innovation with a Strong Societal Impact", in recognition of its role in improving the safety and wellbeing of Lisbon's communities.
        Professor Davey said: "We are immensely proud that our work has received the 2023 Security Innovation Award. This accolade is a tribute to the real-world impact of the 'Cutting Crime Impact' project, and a testament to our 'bottom-up', human-centred design approach to research and innovation. Through CCI, researchers and law enforcement embraced the complexities of security challenges, adopting a method that prioritises the perspectives and needs of end-users. This award is a beacon of encouragement, reinforcing our dedication to tackling societal challenges through human-centred, participatory innovation and design."
        In total, the Cutting Crime Impact project delivered eight, evidence-based 'tool' solutions tailored to the needs of partner law enforcement agencies. The research team was committed to framing and understanding problems of high-impact crime from the ground up and engaging in collaborative design and development. Applying creative design innovation techniques and rigorous prototyping, CCI ensured that solutions are not only effective but also resonate deeply with those they are meant to serve.
        The award was presented in Brussels during the Commission’s Security Research Event, where a video detailing the solution created by the Cutting Crime Impact project was shared with the audience of security researchers, policymakers and industry members. CCI was funded by the European Commission Horizon 2020 research programme.
      </p>
      <div class="awards-photo">
        <!-- <img src="assets/images/postit.jpg" alt="Descriptive Alt Text"> -->
      </div>
      <a href="https://www.salford.ac.uk/news/security-solution-developed-from-university-of-salford-research-project-wins-2023-security-innovation-award" class="read-more-link" target="_blank">See Full Press Release Here</a> Link to the full article
    </div>
  </article>
</section>
