@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Merriweather:wght@400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;

  background-color: white;
}

p {
  font-family: 'Merriweather', serif;
  margin: 0;
}
